


*{
    margin: 0;
    padding:0;
}
hr{
    margin: 2px;
}
.ground{
    margin: 0;
    margin-bottom: 50px;
    height: 250px;
    width: 100%;
     background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
              url('https://res.cloudinary.com/drupkujzt/image/upload/v1778128557/ncc05_l7lfrg.jpg') no-repeat center center;
    background-size: cover;
    
}
.stats-container{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 120px;

}
.stats{
    box-shadow: 0px 0px 5px 0.3px black;
    height: 75px;
    width: 60px;
    background-color:rgb(232, 66, 20);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

.ground p{
    margin-left: 5px;
    color:white;
    position: relative;
    top: 70px;
    font-size: 1.3rem;
    font-weight: 600;
}
.ground p::first-line{
    font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   color:yellow;

}
div >i{
    margin-top: 2px;
    color: black ;
    font-size: 30px;
}
div >a> i.fa-brands{
    font-size: 1.2rem;
}

.tournaments{
    margin-top: 20px;
    padding-top: 20px;
    background:  linear-gradient(#60bf69);
    
    border: 2px solid #070707;
    /* border-radius: 30px; */
    color: #5b0101;
    
    font-weight: 600;
}
.tournament{
    
    padding-bottom: 10px;
    padding-top: 10px;

}
.tournament-img{
    border: 1px solid black;
    border-radius: 25px;
    
}
.stats-container a {
    text-decoration: none;
}
.nccLine{
    display: block;
    
    font-size: 1rem;
    padding: 9px;
    
}




@media (min-width: 1040px) {

    .upper-main{
    height: 380px;
    width: 100vw;
   
      
}
.ground{
    
    border-radius: 5px;
    margin: 0;
    margin-left: 5px;
    margin-top: 10px;
    
    height: 300px;
    width: 600px;
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
              url('https://res.cloudinary.com/drupkujzt/image/upload/v1778128557/ncc05_l7lfrg.jpg') no-repeat center center;
    background-size: cover;
}
.stats-container{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 170px;

}
.tournaments{

   
    margin-top: 20px;
    padding-top: 20px;
    background:  linear-gradient(#60bf69);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #070707;
    border-radius: 30px;
    color: #5b0101;
    
    font-weight: 600;
}
.tournament{
    font-size: 1.3rem;
    margin: 10px;
    width: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.tournaments>h2{
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
}


.nccLine{
    position: absolute;
    right: 10px;
    top: 75px;
    left: 650px;
    padding: 3px;
   font-size: 1.4rem;
}

.ground p{
    margin-left: 5px;
    color:white;
    position: relative;
    top: 70px;
    font-size: 1.5rem;
    font-weight: 600;
}
 }

