body{
    background-color: #7bc48b ;
}
nav{
    border-bottom:5px solid #f65e06;
    
}
.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
   
}
.player{
    width: 46%;
    max-width: 12rem;
    margin-top: 5px;
    box-shadow: 0 0 2px 0 #000000;
    border-radius: 13px;
     /* border: 1px solid #000000; */
}
.player-img-box{
    height: 150px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faa718;
   
    border-radius: 13px  13px 0 0;
}
.player-img{
    height: 110px;
    width:110px;
    border: 3px solid rgb(255, 128, 0);
    border-radius: 50%; 
}
.card-text{
    font-size: .9rem;
}

.btn{
    color: rgb(180, 252, 63);
    background:linear-gradient(#c53272,#3b59d0);
    border-radius: 10px;
}
/* .add{
    color: #ffb10a;

} */
 .card-title{

    font-size: 1.1rem;
    
 }
 .role-icon{
    height: 35px;
    width: 35px;
    background-color: white;
    padding: 3px;
    position:absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    
 }
 .card-body{
    padding: 8px;
 }